.App {
  text-align: center;
}

.nav{
  background-color: coral;
  color: #fff;
}
.nav ul{
  padding: 0;
  list-style: none;
}
.nav li{
  display: inline;
  padding: 15px;
  font-size: large;
  margin: auto;
}